[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = new one
[access "refs/*"]
	owner = group user/AkanshaD
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AkanshaD
	label-Verified = -1..+1 group user/AkanshaD
	push = group user/AkanshaD
	read = group user/AkanshaD
	rebase = group user/AkanshaD
	removeReviewer = group user/AkanshaD
	submit = group user/AkanshaD
[access "refs/heads/*"]
	create = group user/AkanshaD
	push = +force group user/AkanshaD
	pushMerge = group user/AkanshaD
	read = group user/AkanshaD
[access "refs/tags/*"]
	push = group user/AkanshaD
	push = +force group user/AkanshaD
